p {
    margin: 0;
    font-size: 17px;
    padding-left: 20px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    background-color: #F9B4D5;
    margin: 0;
}

button {
    background-color: #663333;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 17px;
    width: 258px;
    height: 57px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #663333;
    width: 100vw;
    height: 30vh;
}

#titleLog {
    font-size: 34px;
    font-weight: 700;
    margin: 50% 0 15%; 
    font-family: "Inter", sans-serif;
}

#titleReg {
    font-size: 34px;
    font-weight: 700;
    margin: 20% 0 15%; 
    font-family: "Inter", sans-serif;
}

.input_item {
    margin: 0 0 15%;
}

.input {
    width: 258px;
    height: 57px;
    border-radius: 25px;
    border: none;
    padding-left: 20px;
    font-weight: 700;
    font-size: 17px;
}

.reg {
    margin: 0 0 10% !important;
}

.exit {
    margin: 0;
    font-size: 17px;
    padding-top: 15px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.back {
    margin-top: 10px;
    
}