body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
}

#header{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #F9B4D5;
    border-radius: 25px;
    width: 90%;
}

#headerText{
    text-align: center;
    font-size: 50px;
    width: 352px;
    height: 60px;

}

#main{
    display: flex;
    margin: 20px;
    flex-direction: column;
    flex-grow: 1;
}

#list{
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex-grow: 1;
    padding-top: 100px;
}

.category{
    border-radius: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 70px;
    gap: 50px;
}

#footer{
    background-color: #F9B4D5;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    height: 7vh;

}